@page "/Random";
@model RandomModel

@{
}

<link rel="stylesheet" href="~/css/IndexStyle.css"/>

<section class="movies-list">
    <div class="movie-container" style="height:100vh !important;">
        <div class="left-side">
            <img style=" filter: grayscale(0);" src="https://image.tmdb.org/t/p/original/@Model.movie.PosterPath"/>
        </div>
        <div class="right-side">
            <div class="top-bar-movie">
                <h1 class="movie-title">@Model.movie.Title</h1>
                <div class="movie-info">
                    <div class="score-inner">
                        <div class="">
                            @{
                                int rating = (int)Math.Round(@Model.movie.VoteAverage);
                                for (int i = 0; i < 5; i++)
                                {
                                    if (i < Math.Round(@Model.movie.VoteAverage / 2.0))
                                    {
                                        <i class="fa-solid fa-star"></i>
                                        rating--;
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-star"></i>
                                    }
                                }
                            }
                        </div>
                        <div>Score: @Math.Round((decimal)@Model.movie.VoteAverage, 1) </div>
                    </div>
                    <div class="like-heart">
                        <i class="fa-solid fa-heart" style="padding:0 1rem 0 1rem;"></i>
                    </div>

                    @*alvast voor als we favs hebben*@
                    @*  <div class="like-heart">
                        <i class="fa-solid fa-heart" style="padding:0 1rem 0 1rem; color:@(liked ? "red" : "grey")"></i>
                    </div>*@
                </div>
            </div>
            <div class="genres" style="display:flex;flex-direction:row;">
                @foreach (var genre in @Model.movie.Genres)
                {
                    <div class="genres-inner">@genre.Name</div>
                }

            </div>
            <div class="text-container">
                @Model.movie.Overview
            </div>
        </div>
    </div>
</section>